BOT_API_TOKEN=your_bot_api_token_here
BOT_NAME=your_bot_name_here
LOG_LEVEL=INFO
ENV=dev


# Database configuration
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_databsae_password
POSTGRES_DB=your_database_name
POSTGRES_PORT=postgres_port_number
# Alembic auto migration
AUTO_MIGRATE=true
DB_URL=your_databsae_connection_string